<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<div th:replace="home/public/head :: head"></div>
<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default"  >
<div class="m-grid m-grid--hor m-grid--root m-page">
    <style>
        a{ color: #575962;}
    </style>
    <div th:replace="~{home/public/header_nav :: header_nav}"></div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
        <div class="slider slider1">
            <img th:src="@{/index/base/img/banner_tea.jpg}" height="500">
            <img th:src="@{/index/base/img/banner_tea.jpg}" height="500">
            <img th:src="@{/index/base/img/banner_tea.jpg}" height="500">
            <img th:src="@{/index/base/img/banner_tea.jpg}" height="500">
            <img th:src="@{/index/base/img/banner_tea.jpg}" height="500">
        </div>
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver	m-container m-container--responsive m-container--xxl m-page__container">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                    <!--Begin::Main Portlet-->
                    <div class="row">
                        <div class="col-xl-4">
                            <!--begin:: Widgets/New Users-->
                            <div class="m-portlet m-portlet--full-height">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                               茶与健康
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="m_widget4_tab1_content">
                                            <!--begin::Widget 14-->
                                            <div class="m-widget4">
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
                                                        <span class="m-widget4__title">
                                                            茶叶农残新标准将实施
                                                        </span>
                                                        <br>
                                                        <span class="m-widget4__sub">
                                                            2017-12-04
                                                        </span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#"  class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	绿茶的保健功效
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-12-04
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	绿茶具有良好的“抗辐射”功效
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-12-04
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	中国绿茶可减肥
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-12-01
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	喝茶养生 你要知道的四个原则
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-12-01
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#"  class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	没炒过的新鲜茶叶能喝吗？
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-11-29
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	哪种茶护肤养颜？茶多酚含量说了算
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-11-29
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <div class="m-widget4__item">
                                                    <div class="m-widget4__info">
																<span class="m-widget4__title">
																	经常过量喝浓茶会引起氟中毒
																</span>
                                                        <br>
                                                        <span class="m-widget4__sub">
																	2017-11-30
																</span>
                                                    </div>
                                                    <div class="m-widget4__ext">
                                                        <a href="#" class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary">
                                                            查看详情
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--end::Widget 14 Item-->
                                                <!--begin::Widget 14 Item-->
                                                <!--end::Widget 14 Item-->
                                            </div>
                                            <!--end::Widget 14-->
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/New Users-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin:: Widgets/Top Products-->
                            <div class="m-portlet m-portlet--full-height m-portlet--fit">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                茶界新闻
                                            </h3>
                                        </div>
                                    </div>
                                    <!--<div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                                    All
                                                </a>
                                                <div class="m-dropdown__wrapper">
                                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 36.5px;"></span>
                                                    <div class="m-dropdown__inner">
                                                        <div class="m-dropdown__body">
                                                            <div class="m-dropdown__content">
                                                                <ul class="m-nav">
                                                                    <li class="m-nav__item">
                                                                        <a href="" class="m-nav__link">
                                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                                            <span class="m-nav__link-text">
																						Activity
																					</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-nav__item">
                                                                        <a href="" class="m-nav__link">
                                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                            <span class="m-nav__link-text">
																						Messages
																					</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-nav__item">
                                                                        <a href="" class="m-nav__link">
                                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                                            <span class="m-nav__link-text">
																						FAQ
																					</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-nav__item">
                                                                        <a href="" class="m-nav__link">
                                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                            <span class="m-nav__link-text">
																						Support
																					</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                                <div class="m-portlet__body">
                                    <!--begin::Widget5-->
                                    <div class="m-widget4 m-widget4--chart-bottom" style="">
                                        <div class="m-widget4__item">
                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">2017上半年，茶事回顾</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-05-12
														</span>
                                            </div>
                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">中茶院调研组莅鼎考察马山茶产业发展</a>

														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-06-06
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">
                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">马山茶产业发展论坛成功举办</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-06
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">马山茶产业发展论坛成功举办</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-06
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">2017上半年，茶事回顾</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-05-12
														</span>
                                            </div>
                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">中茶院调研组莅鼎考察马山茶产业发展</a>

														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-06-06
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">马山茶产业发展论坛成功举办</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-06
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">马山茶产业发展论坛成功举办</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-06
														</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!--end::Widget 5-->
                                </div>
                            </div>
                            <!--end:: Widgets/Top Products-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin:: Widgets/Top Products-->
                            <div class="m-portlet m-portlet--full-height m-portlet--fit">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                茶农动态
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="m-portlet__body">
                                    <!--begin::Widget5-->
                                    <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 480px">
                                        <div class="m-widget4__item">

                                        <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">茶园里的“中国梦”</a>
														</span>
                                            <br>
                                            <span class="m-widget4__sub">
															2017-08-16
														</span>
                                        </div>

                                    </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">梁骏德：21世纪红茶复兴时代开启者</a>

														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-29
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">茶农小小苏的幸福生活</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-09-15
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">茶农小小苏的幸福生活</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-09-15
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">茶园里的“中国梦”</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-16
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">梁骏德：21世纪红茶复兴时代开启者</a>

														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-08-29
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">茶农小小苏的幸福生活</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-09-15
														</span>
                                            </div>

                                        </div>
                                        <div class="m-widget4__item">

                                            <div class="m-widget4__info">
														<span class="m-widget4__title">
															<a href="#">茶农小小苏的幸福生活</a>
														</span>
                                                <br>
                                                <span class="m-widget4__sub">
															2017-09-15
														</span>
                                            </div>

                                        </div>

                                    </div>
                                    <!--end::Widget 5-->
                                </div>
                            </div>
                            <!--end:: Widgets/Top Products-->
                        </div>
                    </div>
                    <!--End::Main Portlet-->
                    <!--Begin::Main Portlet-->

                    <!--End::Main Portlet-->
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{home/public/footer :: footer}"></div>
</div>
<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
    <i class="la la-arrow-up"></i>
</div>
<script th:src="@{/index/base/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/index/base/js/base.js}" type="text/javascript"></script>
<script th:src="@{/index/base/js/scripts.bundle.js}" type="text/javascript"></script>
<script th:src="@{/index/base/js/jquery.slimscroll.js}" type="text/javascript"></script>
<script th:src="@{/index/base/js/jquery.easing.min.js}" type="text/javascript"></script>
<script th:src="@{/index/base/js/jquery.bscslider.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/jquery/jquery.mousewheel.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/base/dashboard.js}" type="text/javascript"></script>
<script>
    $('.slider1').bscSlider({
        duration: 3000,
        effect: 1,
        navigation      : true,
        effect_speed: 750,
        easing: 'easeOutQuad',
        height			: 450
    });
</script>
</body>
</html>