<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.origin.OriginBatchMapper">
  <resultMap id="BaseResultMap" type="com.panda.model.origin.OriginBatch">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="harvest_batch_id" jdbcType="VARCHAR" property="harvestBatchId" />
    <result column="batch_num" jdbcType="VARCHAR" property="batchNum" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="tea_garden_id" jdbcType="VARCHAR" property="teaGardenId" />
    <result column="quality_id" jdbcType="VARCHAR" property="qualityId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, harvest_batch_id, batch_num, product_id, tea_garden_id, quality_id, status, description, 
    create_id, create_time, modify_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_origin_batch
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from e_origin_batch
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.panda.model.origin.OriginBatch">
    insert into e_origin_batch (id, harvest_batch_id, batch_num, 
      product_id, tea_garden_id, quality_id, 
      status, description, create_id, 
      create_time, modify_id, modify_time
      )
    values (#{id,jdbcType=VARCHAR}, #{harvestBatchId,jdbcType=VARCHAR}, #{batchNum,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{teaGardenId,jdbcType=VARCHAR}, #{qualityId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.origin.OriginBatch">
    insert into e_origin_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="harvestBatchId != null">
        harvest_batch_id,
      </if>
      <if test="batchNum != null">
        batch_num,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="teaGardenId != null">
        tea_garden_id,
      </if>
      <if test="qualityId != null">
        quality_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyId != null">
        modify_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="harvestBatchId != null">
        #{harvestBatchId,jdbcType=VARCHAR},
      </if>
      <if test="batchNum != null">
        #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="teaGardenId != null">
        #{teaGardenId,jdbcType=VARCHAR},
      </if>
      <if test="qualityId != null">
        #{qualityId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null">
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.origin.OriginBatch">
    update e_origin_batch
    <set>
      <if test="harvestBatchId != null">
        harvest_batch_id = #{harvestBatchId,jdbcType=VARCHAR},
      </if>
      <if test="batchNum != null">
        batch_num = #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="teaGardenId != null">
        tea_garden_id = #{teaGardenId,jdbcType=VARCHAR},
      </if>
      <if test="qualityId != null">
        quality_id = #{qualityId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null">
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.origin.OriginBatch">
    update e_origin_batch
    set harvest_batch_id = #{harvestBatchId,jdbcType=VARCHAR},
      batch_num = #{batchNum,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      tea_garden_id = #{teaGardenId,jdbcType=VARCHAR},
      quality_id = #{qualityId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from e_origin_batch
    where 1 = 1
  </select>

  <select id="selectBatchList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from e_origin_batch
    where 1 = 1
    <if test="originSetId != null and originSetId != ''">
      AND origin_set_id = #{originSetId}
    </if>
    <if test="status != null and status != ''">
      AND status = #{status}
    </if>
  </select>
  
  <select id="selectOriginBatchDataList" parameterType="map" resultType="map">
    SELECT
    ob.id,ob.status,ob.batch_num,tg.name_area,hr.pick_batch_no,p.product_name,COUNT(oc.id) codeNum,year(ob.create_time) createYear,ob.create_time
    FROM
    e_tea_garden tg,e_harvest_records hr,c_products p,e_origin_batch ob
    LEFT JOIN e_origin_code oc ON ob.id = oc.origin_batch_id
    WHERE
    1 = 1
    <if test="harvestBatchId != null and harvestBatchId != ''">
      AND ob.harvest_batch_id = #{harvestBatchId}
    </if>
    <if test="teaGardenId != null and teaGardenId != ''">
      AND ob.tea_garden_id = #{teaGardenId}
    </if>
    <if test="dicTeaAttr != null and dicTeaAttr != ''">
      AND p.dic_tea_attr = #{dicTeaAttr}
    </if>
    <if test="createYear != null and createYear != ''">
      AND year(ob.create_time) = #{createYear}
    </if>
    AND ob.tea_garden_id = tg.id
    AND ob.harvest_batch_id = hr.id
    AND ob.product_id = p.id
    ORDER BY ob.create_time DESC
  </select>
  
  <select id="countAll" resultType="java.lang.Integer">
    select
    COUNT(1)
    from e_origin_batch
    where 1 = 1
  </select>
</mapper>