<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑权限信息</title>
</head>
<body>
<!--begin::Modal-->
<div class="modal fade machinTeaEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="machinTeaEdit">
    <div class="modal-dialog modal-xbg" role="document" id="modalBloukUi">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增</h5>
                <button type="button" class="close close-parent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="machin_tea_edit_form" novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="save" value="edit">
                            <div class="form-group m-form__group row processBatchId">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    加工批次  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control getMachinSetData" name="processBatchId" id="processBatchId">
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${processBatchList}" th:value="${item.id}" th:text="${item.batch_number}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row dicMacType">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    加工类型 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control getMachinSetData" name="dicMacType" id="dicMacType">
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${machinType}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row dicMacPro">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    加工工序  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control getMachinSetData" name="dicMacPro" id="dicMacPro" >
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${machinProcess}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    加工茶系  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control" name="dicTeaAttr" id="dicTeaAttr" >
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${teaArrt}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    鲜叶品种  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control" name="dicTeaType" id="dicTeaType">
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${teaType}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    加工状态  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="m-radio-inline">
                                        <label class="m-radio m-radio--state-success">
                                            <input type="radio" name="machinStatus" value="1" checked>
                                            开始
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--state-success">
                                            <input type="radio" name="machinStatus" value="2">
                                            完成
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--state-danger">
                                            <input type="radio" name="machinStatus" value="3" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(终止当前工序)">
                                            终止
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-11 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                    <span class="input-group-btn">
                                        <input type="text" class="form-control beginTime" name="beginTime" placeholder="开始时间">
                                    </span>
                                        <span class="input-group-addon">
                                        至
                                    </span>
                                        <span class="input-group-btn">
                                        <input type="text" class="form-control endTime" name="endTime" placeholder="结束时间">
                                    </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    温度
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group ">
                                        <input type="text" class="form-control m-input" name="temperature" placeholder="所需温度" >
                                        <span class="input-group-addon" >
                                            &#8451;
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    湿度
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group ">
                                        <input type="text" class="form-control m-input" name="humidity" placeholder="湿度比例" >
                                        <span class="input-group-addon">
                                            %RH
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    损耗
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group ">
                                        <input type="text" class="form-control m-input" name="macLoss" placeholder="损耗比例">
                                        <span class="input-group-addon">
                                            %∑
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row status_switch_parent">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    完成  <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <input data-switch="true" type="checkbox" class="status_switch" data-on-color="success" data-off-color="warning">
                                    <br>
                                    <span class="m-form__help"></span>
                                </div>
                                <input type="hidden" name="status" value="2">
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    备注
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <textarea class="form-control m-input" name="description" placeholder="介绍用途等" style="resize: none;height: 92px"></textarea>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-skin="dark" data-toggle="m-tooltip" data-placement="left" title="" data-original-title="选择 批次,类型,和工序(左侧前三项) 获取 加工设置数据.">
                        帮助
                    </button>
                    <button type="button" class="btn btn-metal close-parent" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" shiro:hasPermission="machinTea:submit" class="btn btn-accent">
                        确定
                    </button>
                    <button type="reset" class="btn btn-warning reset-btn">
                        重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
</body>
</html>