<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑管理记录</title>
</head>
<body>
<!--begin::Modal-->
<div class="modal fade maintainEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="maintainEdit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">

                </h5>
                <button type="button" class="close close-parent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="maintainEdit_edit_form"
                  novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="save" value="edit">
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    生产线  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control parentId" name="parentId" id="parentId">
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${assemList}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    设备  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control equipmentId" name="equipmentId" id="equipmentId">
                                        <option value=""> 选择 </option>

                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    维护类型  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control maintainType" name="maintainType" id="maintainType">
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${maintainType}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    资产编号 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group ">
                                        <input type="text" class="form-control m-input" id="unitNo" disabled placeholder="资产编号">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    保养周期 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" disabled id="unitCycle" placeholder="维护周期">
                                        <span class="input-group-addon" style="cursor: pointer;">
                                            次
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    清洁周期 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input " id="unitClear" disabled placeholder="清洁周期">
                                        <span class="input-group-addon" style="cursor: pointer;">
                                            次
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    备注
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12" >
                                    <textarea class="form-control m-input" style="height: 85px;resize: none" name="description"
                                              placeholder="备注"></textarea>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    记录人 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" id="createUser" disabled th:value="${user.chineseName}">
                                        <span id="chineseName" class="m--hide" th:text="${user.chineseName}"></span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    维修内容 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" id="repairContent" name="repairContent">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    更换零件 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" id="replaceParts" name="replaceParts">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    维修人 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" id="operator" name="operator">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    状态
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="m-radio-inline">
                                        <label class="m-radio m-radio--state-warning">
                                            <input type="radio" name="maintainStatus" value="2" checked data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(未检)">
                                            待检修
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--state-success">
                                            <input type="radio" name="maintainStatus" value="1" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(检修完成)">
                                            完成检修
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm" id="uploadDropzone">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    设备图片 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12" style="height: 141px">
                                    <div class="m-dropzone dropzone" action="/system/image/ajaxImageUpload" id="mDropzoneOne">
                                        <div class="m-dropzone__msg dz-message needsclick">
                                            <span class="m-dropzone__msg-desc">
                                                 <img th:src="@{/assets/img/bg/upload.png}"/>
                                            </span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="imgUrl">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space"></div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-parent" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" shiro:hasPermission="maintain:submit" class="btn btn-accent">
                            确定
                        </button>
                        <button type="reset" class="btn btn-warning reset-btn">
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
</body>
</html>