<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑权限信息</title>
</head>
<body>
<!--begin::Modal-->
<div class="modal fade qualityEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="qualityEdit">
    <div class="modal-dialog modal-xbg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close close-parent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="quality_edit_form" novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="qiId" value="">
                            <input type="hidden" name="save" value="edit">
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    鲜叶批次 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control harvestBatchId" name="harvestBatchId" id="harvestBatchId">
                                        <option value=""> 鲜叶批次 </option>
                                        <option th:each="item:${harvestList}" th:value="${item.id}"
                                                th:text="${item.pick_batch_no}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    质检类型 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control dicQualityType" name="dicQualityType" id="dicQualityType">
                                        <option value=""> 质检类型 </option>
                                        <option th:each="item:${attestation}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    取样基数 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                        <input type="text" class="form-control m-input" id="samplingBase" name="samplingBase" placeholder="10.99">
                                        <span class="input-group-addon" id="basic-addon1">
                                            单份/g
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    取样份数 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                        <input type="text" class="form-control m-input" id="sampleNumber" name="sampleNumber" placeholder="取样份数">
                                        <span class="input-group-addon" >
                                            份/n
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>

                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    质检结果 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="m-radio-inline">
                                        <label class="m-radio m-radio--state-warning">
                                            <input type="radio" name="qualityStatus" value="0" checked disabled data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(未检)">
                                            未检
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--state-success">
                                            <input type="radio" name="qualityStatus" value="1" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(质检合格)">
                                            合格
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--state-danger">
                                            <input type="radio" name="qualityStatus" value="2" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(质检不合格)">
                                            不合格
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm qualityCheck">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    质检人 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" name="qualityUser" placeholder="初检人">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm qualityCheck">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    质检时间 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input datetimeInput" readonly name="qualityTime" placeholder="初检时间">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    记录人 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" id="createUser" disabled th:value="${user.chineseName}">
                                        <span id="chineseName" class="m--hide" th:text="${user.chineseName}"></span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <!--<div class="form-group m-form__group row r-pm verifyCheck">-->
                                <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                                    <!--复检结果 <span style="color: red">*</span>-->
                                <!--</label>-->
                                <!--<div class="col-lg-8 col-md-9 col-sm-12">-->
                                    <!--<div class="m-radio-inline">-->
                                        <!--<label class="m-radio m-radio&#45;&#45;state-warning">-->
                                            <!--<input type="radio" name="verifyQuality" value="0" checked data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(未复检)">-->
                                            <!--未检-->
                                            <!--<span></span>-->
                                        <!--</label>-->
                                        <!--<label class="m-radio m-radio&#45;&#45;state-success">-->
                                            <!--<input type="radio" name="verifyQuality" value="1" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(复检合格)">-->
                                            <!--合格-->
                                            <!--<span></span>-->
                                        <!--</label>-->
                                        <!--<label class="m-radio m-radio&#45;&#45;state-danger">-->
                                            <!--<input type="radio" name="verifyQuality" value="2" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title=""  data-original-title="(复检不合格)">-->
                                            <!--不合格-->
                                            <!--<span></span>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <!--<span class="m-form__help"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group m-form__group row r-pm verifyCheck">-->
                                <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                                    <!--复检人 <span style="color: red">*</span>-->
                                <!--</label>-->
                                <!--<div class="col-lg-8 col-md-9 col-sm-12">-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control m-input" name="verifyUser" placeholder="复检人">-->
                                    <!--</div>-->
                                    <!--<span class="m-form__help"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group m-form__group row r-pm verifyCheck">-->
                                <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                                    <!--复检时间 <span style="color: red">*</span>-->
                                <!--</label>-->
                                <!--<div class="col-lg-8 col-md-9 col-sm-12">-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control m-input datetimeInput" name="verifyTime" readonly placeholder="复检时间">-->
                                    <!--</div>-->
                                    <!--<span class="m-form__help"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    备注 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <textarea class="form-control m-input" name="description" placeholder="备注" style="resize: none;height: 80px"></textarea>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm" id="uploadDropzone" shiro:hasPermission="equipment:upload">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    质检报告 <span style="color: red"></span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12" style="height: 141px">
                                    <div class="m-dropzone dropzone" action="/system/image/ajaxImageUpload" id="mDropzoneOne">
                                        <div class="m-dropzone__msg dz-message needsclick">
                                            <span class="m-dropzone__msg-desc">
                                                 <img th:src="@{/assets/img/bg/upload.png}"/>
                                            </span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="imgUrl">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    留样编号 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                        <input type="text" class="form-control m-input" name="sampleTea" placeholder="留样编号">
                                        <span class="input-group-addon" style="cursor: pointer;">
                                            <i class="la la-hand-o-up glyphicon-th"></i>
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    净含量 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                        <input type="text" class="form-control m-input" name="netContent" placeholder="净含量(g)">
                                        <span class="input-group-addon">
                                            净量/g
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    碎末率 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                        <input type="text" class="form-control m-input" name="teaCrumble" placeholder="碎末茶(%)">
                                        <span class="input-group-addon">
                                            占比%
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    含水率 <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                        <input type="text" class="form-control m-input" name="waterContent" placeholder="水份量(%)">
                                        <span class="input-group-addon">
                                            占比%
                                        </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row r-pm" th:each="item:${qualitySetList}" th:id="${item.id}" th:classappend="${item.value}">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                 <span th:text="${item.name}"></span><span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select th:if="${item.childQualitySetList != null}" th:name="${item.value}" th:id="${item.value}" class="form-control">
                                        <option value=""> 评级</option>
                                        <option th:each="child:${item.childQualitySetList}" th:value="${child.id}" th:text="${child.name+'  (分值-'+child.value+')'}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-skin="dark" data-toggle="m-tooltip" data-placement="left" title="" data-original-title="质检记录新增时,请谨慎填写,保存后将不可修改关键信息.">
                        帮助
                    </button>
                    <button type="button" class="btn btn-secondary close-parent" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" shiro:hasPermission="quality:submit" class="btn btn-accent">
                        确定
                    </button>
                    <button type="reset" class="btn btn-warning reset-btn">
                        重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
</body>
</html>