<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑权限信息</title>
</head>
<body>
<!--begin::Modal-->
<div class="modal fade changePassWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="changePassWord">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改密码</h5>
                <button type="button" class="close close-parent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="changePassWordForm"
                  novalidate="novalidate">
                <div class="modal-body">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="save" value="edit">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            当前用户 <span style="color: red">*</span>
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group m-input-group">
                                <input type="text" class="form-control m-input" placeholder="当前用户" name="account" th:value="${user.account}" disabled aria-describedby="basic-addon1">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="m-nav__link-icon flaticon-user-ok"></i>
                                </span>
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            旧密码 <span style="color: red">*</span>
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group">
                                <input type="password" class="form-control m-input password" name="oldPassWord" placeholder="旧密码">
                                <span class="input-group-addon">
                                    <i class="m-nav__link-icon flaticon-lock-1"></i>
                                </span>
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            新密码 <span style="color: red">*</span>
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group">
                                <input type="password" class="form-control m-input password" id="password" name="password" placeholder="新密码">
                                <span class="input-group-addon">
                                    <i class="m-nav__link-icon flaticon-lock-1"></i>
                                </span>
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row status_switch_parent">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            确认密码 <span style="color: red">*</span>
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group">
                                <input type="password" class="form-control m-input password" name="checkPassWord" placeholder="确认密码">
                                <span class="input-group-addon">
                                    <i class="m-nav__link-icon flaticon-lock"></i>
                                </span>
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <!--<div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space"></div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-parent" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-accent form_save">
                            确定
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
</body>
</html>