<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.mapper.wechat.WechatRuleKeywordsMapper" >
  <resultMap id="BaseResultMap" type="com.panda.model.wechat.WechatRuleKeywords" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rule_keywords" property="ruleKeywords" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rid, rule_keywords
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_rule_keywords
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wechat_rule_keywords
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.panda.model.wechat.WechatRuleKeywords" >
    insert into t_wechat_rule_keywords (id, rid, rule_keywords
      )
    values (#{id,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{ruleKeywords,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.wechat.WechatRuleKeywords" >
    insert into t_wechat_rule_keywords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="ruleKeywords != null" >
        rule_keywords,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="ruleKeywords != null" >
        #{ruleKeywords,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.wechat.WechatRuleKeywords" >
    update t_wechat_rule_keywords
    <set >
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="ruleKeywords != null" >
        rule_keywords = #{ruleKeywords,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.wechat.WechatRuleKeywords" >
    update t_wechat_rule_keywords
    set rid = #{rid,jdbcType=INTEGER},
      rule_keywords = #{ruleKeywords,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>