<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.mapper.wechat.WechatQrcodeMapper" >
  <resultMap id="BaseResultMap" type="com.panda.model.wechat.WechatQrcode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="expire_seconds" property="expireSeconds" jdbcType="INTEGER" />
    <result column="scene_id" property="sceneId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="function" property="function" jdbcType="VARCHAR" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="qrcode_url" property="qrcodeUrl" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="INTEGER" />
    <result column="scan_num" property="scanNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, expire_seconds, scene_id, username, function, ticket, qrcode_url, endtime, 
    scan_num, status, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_qrcode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wechat_qrcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.panda.model.wechat.WechatQrcode" >
    insert into t_wechat_qrcode (id, type, expire_seconds, 
      scene_id, username, function, 
      ticket, qrcode_url, endtime, 
      scan_num, status, sort
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{expireSeconds,jdbcType=INTEGER}, 
      #{sceneId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{function,jdbcType=VARCHAR}, 
      #{ticket,jdbcType=VARCHAR}, #{qrcodeUrl,jdbcType=VARCHAR}, #{endtime,jdbcType=INTEGER}, 
      #{scanNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.wechat.WechatQrcode" >
    insert into t_wechat_qrcode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="expireSeconds != null" >
        expire_seconds,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="function != null" >
        function,
      </if>
      <if test="ticket != null" >
        ticket,
      </if>
      <if test="qrcodeUrl != null" >
        qrcode_url,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="scanNum != null" >
        scan_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="expireSeconds != null" >
        #{expireSeconds,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="function != null" >
        #{function,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=INTEGER},
      </if>
      <if test="scanNum != null" >
        #{scanNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.wechat.WechatQrcode" >
    update t_wechat_qrcode
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="expireSeconds != null" >
        expire_seconds = #{expireSeconds,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="function != null" >
        function = #{function,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null" >
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=INTEGER},
      </if>
      <if test="scanNum != null" >
        scan_num = #{scanNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.wechat.WechatQrcode" >
    update t_wechat_qrcode
    set type = #{type,jdbcType=INTEGER},
      expire_seconds = #{expireSeconds,jdbcType=INTEGER},
      scene_id = #{sceneId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      function = #{function,jdbcType=VARCHAR},
      ticket = #{ticket,jdbcType=VARCHAR},
      qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=INTEGER},
      scan_num = #{scanNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>